<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-movement-heading">Create or edit a Movement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!movement.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="movement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                        [(ngModel)]="movement.location" required/>
                    <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.location?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="movement.type" id="field_type"  required>
                        <option value="IN">IN</option>
                        <option value="OUT">OUT</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_timeStamp">Time Stamp</label>
                    <div class="d-flex">
                        <input id="field_timeStamp" type="datetime-local" class="form-control" name="timeStamp" [(ngModel)]="timeStamp"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.timeStamp?.dirty && editForm.controls.timeStamp?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timeStamp?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.timeStamp?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_visitor">Visitor</label>
                    <select class="form-control" id="field_visitor" name="visitor" [(ngModel)]="movement.visitor"  required>
                        <option *ngIf="!editForm.value.visitor" [ngValue]="null" selected></option>
                        <option [ngValue]="visitorOption.id === movement.visitor?.id ? movement.visitor : visitorOption" *ngFor="let visitorOption of visitors; trackBy: trackVisitorById">{{visitorOption.visitorId}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.visitor?.dirty && editForm.controls.visitor?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.visitor?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
