<div>
    <h2 id="page-heading">
        <span>Visitors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-visitor" [routerLink]="['/visitor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Visitor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="visitors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Visitor Id</span></th>
            <th><span>Type</span></th>
            <th><span>Allowed From</span></th>
            <th><span>Allowed To</span></th>
            <th><span>Location</span></th>
            <th><span>Email</span></th>
            <th><span>Phone</span></th>
            <th><span>Status</span></th>
            <th><span>Qr String</span></th>
            <th><span>Employee</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let visitor of visitors ;trackBy: trackId">
                <td><a [routerLink]="['/visitor', visitor.id, 'view' ]">{{visitor.id}}</a></td>
                <td>{{visitor.name}}</td>
                <td>{{visitor.visitorId}}</td>
                <td>{{visitor.type}}</td>
                <td>{{visitor.allowedFrom | date:'medium'}}</td>
                <td>{{visitor.allowedTo | date:'medium'}}</td>
                <td>{{visitor.location}}</td>
                <td>{{visitor.email}}</td>
                <td>{{visitor.phone}}</td>
                <td>{{visitor.status}}</td>
                <td>{{visitor.qrString}}</td>
                <td>
                    <div *ngIf="visitor.employee">
                        <a [routerLink]="['../employee', visitor.employee?.id, 'view' ]" >{{visitor.employee?.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/visitor', visitor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/visitor', visitor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visitor/'+ visitor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
